:root {
    /* Primary colours */
    --cyan: hsl(179, 62%, 43%);
    --cyan2: hsl(179, 62%, 48%);
    --brightYellow: hsl(71, 73%, 54%);

    /* Neutral colours */
    --lightGray: hsl(204, 43%, 93%);
    --grayishBlue: hsl(218, 22%, 67%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 10px;
    font-family: "Karla", sans-serif;
}

h1, h2 {
    font-weight: 700;
    padding: 0.75rem 0 0.75rem 0;
}

h1 {
    font-size: 1.2rem;
}

h2 {
    font-size: 1rem;
}

p, span {
    font-weight: 400;
    font-size: 0.9rem;
}

.container {
    background: var(--lightGray);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 90%;
    margin: 2rem 0 2rem 0;
    border-radius: 7px;
    box-shadow: 0 0 1rem #444444;
}

.card-top {
    background: #ffffff;
    padding: 1rem;
    border-radius: 7px 7px 0 0;
}

.card-top h1 {
    color: var(--cyan);
}

.card-top h2 {
    color: var(--brightYellow);
}

.card-top p {
    color: var(--grayishBlue);
    padding: 0.75rem 0 1rem 0;
    line-height: 1.5rem;
}

.card-left {
    background: var(--cyan);
    padding: 1rem;
}

.card-left h1 {
    color: #ffffff;
}

.card-left p {
    color: #ffffff;
    padding: 0.75rem 0 0.75rem 0;
}

.price {
    display: flex;
    align-items: center;
    color: var(--lightGray);
    font-size: 0.9rem;
}

.amount {
    color: #ffffff;
    font-size: 2rem;
    padding-right: 0.5rem;
    font-weight: 700;
}

.button {
    background: var(--brightYellow);
    color: white;
    border: none;
    text-align: center;
    width: 100%;
    padding: 1rem;
    margin: 1rem 0;
    font-weight: 700;
    font-size: 1rem;
    border-radius: 7px;
    box-shadow: 0 0 1rem #666666;
}

.button:hover {
    cursor: pointer;
}

.card-right {
    background: var(--cyan2);
    color: var(--lightGray);
    padding: 1rem;
    border-radius: 0 0 7px 7px;
}

.card-right h1 {
    color: #ffffff;
}

.card-right ul {
    list-style: none;
    font-size: 0.9rem;
    padding: 0.5rem 0 0.75rem 0;
}

.card-right ul li {
    margin: 0.3rem 0;
}