* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

:root {
    /* Primary colours */
    --cyan: hsl(179, 62%, 43%);
    --brightYellow: hsl(71, 73%, 54%);

    /* Neutral colours */
    --lightGray: hsl(204, 43%, 93%);
    --grayishBlue: hsl(218, 22%, 67%);
}

.container {

}

.card {

}

.card-top {

}
.card-bottom {

}

.card-left {

}

.card-right {

}

.price {

}

.amount {

}

.button {

}